.login-btn {
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  background-color: var(--light);
  color: var(--dark);
  width: 100%;
  max-width: 20rem;
  border-top: thin solid gray;
  border-left: thin solid gray;
  border-right: thin solid black;
  border-bottom: thin solid black;
  white-space: nowrap;
  text-align: left;
}

.list-btn {
  width: 100%;
  /* override for material ui */
  background-color: var(--light) !important;
}

.action-btn {
  background-color: var(--light);
}

.icon-btn {
  width: 100px;
  height: 100px;
  padding: 2rem;
  text-align: center;
}
