.list-wrapper {
  list-style: none;
}

.login-options-list {
  background-color: var(--light);
  max-width: min-content;
}

.topics-list {
  background-color: var(--dark);
  height: 65vh;
  width: 50%;
  overflow: auto;
  border-top: var(--light);
  border-left: var(--light);
  border-bottom: var(--darkVariant);
  border-right: var(--darkVariant);
}
