.application-wrapper {
  color: var(--color1);
  position: relative;
  height: 100vh;
}

.login-wrapper {
  background-color: var(--color3);
  color: var(--color4 );
  width: 40%;
  margin: auto;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.application-header {
  border-bottom: thin solid var(--color1);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.application-footer {
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: var(--color1);
  width: 100%;
  color: var(--light);
}

.title-wrapper {
  padding-bottom: 1rem;
}

#nav-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
