.page-wrapper {
  padding: 2rem;
}

.page-footer {
  padding: 0.5rem 0;
}

#home-wrapper {
  background-image: url("../../assets/images/chart_asset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light);
  background-blend-mode: multiply;
  height: 100%;
}

#topics-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  height: 100%;
}
