.page-wrapper {
  padding: 2rem;
  position: relative;
  height: 90vh;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 0;
}

#home-wrapper {
  background-image: url("../../assets/images/chart_asset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  background-blend-mode: multiply;
}

#topics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
